@import "reset";
@import "./components/all";

html,
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;

  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 80% 20%;
}

.section {
  background-color: $yellow;
  border-radius: $radius;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 20%);
}
