//COLORS

$black: #000;
$white: #fff;
$yellow: #ffe247;

// MEDIA

$desktop: 1600px;
$tablet: 1279px;
$sm-tablet: 1024px;
$portraitTablet: 768px;
$mobile: 415px;
$xs-mobile: 360px;

// ANIMATION

$duration: 0.3s;

// FONT-SIZE

// OTHER

$radius: 5px;
