@import "../variables.scss";

.header {
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px auto;

  background-color: $yellow;
  border-radius: $radius;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 20%);  
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.inst {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
