@import "../variables.scss";

.filtres {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.filters__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__btn {
  max-height: 30px;
  padding: 7px;
  margin-right: 10px;

  background-color: $black;
  border-radius: 15px;

  color: $white;
  cursor: pointer;

  &--nun {
    padding: 0;
  }
}

.filter__btn_icon {
  vertical-align: bottom;
  width: 12px;
  height: 12px;

  &--nun {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    transform: rotate(90deg);
  }
}

.search {
  width: 50%;
  position: relative;
  input {
    width: 100%;
    height: 30px;
    padding: 0 10px;

    font-size: 1rem;

    border-radius: 15px;
    outline: none;
    border: none;
    font-family: inherit;
  }

  &:after {
    content: "";
    right: 10px;
    top: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 25px;

    background-image: url(/img/loupe.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.counter {
  margin-left: 10px;
  margin-bottom: 10px;

  font-weight: 600;
}

.count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;

  color: $black;

  background-color: $white;
  border-radius: 15px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
  justify-items: center;
  justify-content: space-around;

  padding: 10px;
}

.card {
  flex-direction: column;
  display: flex;
  padding: 10px;

  background-color: $black;
  border-radius: $radius;
}

.card__video {
  width: 350px;
  height: 250px;
  margin-bottom: 5px;

  background-color: $white;
}

.card__name {
  margin-bottom: 30px;

  color: $white;
  font-size: 0.9rem;
}

.card__scrores {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.card__score_choose {
  color: $white;
  font-weight: 700;
}

.card__score_users {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin-left: auto;

  color: $black;
  font-weight: 700;

  background-color: $white;
  border-radius: 15px;
  cursor: pointer;
}

.card__score_expert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin-left: 10px;

  color: $black;
  font-weight: 700;

  background-color: $white;
  border-radius: 15px;

  position: relative;
  cursor: pointer;
}

.card__score_expert_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 13px;
  top: -7px;
  transform: rotate(40deg);
}
